*{
  margin: 2px;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

span{
  color: red;
}
.from{
padding: 50px;
padding-left: 500px;
}
#name,#email,#username,#password,#confirmpassword,#phone,#location,#amount
{
    width:400px;

}
.loginbox{
  padding: 20px;
}
