img {
  height: 300px;
  width: 240px;
  margin-left: 30px;

}

div p {
  padding-left: 70px
}

button{

  width:30%;
  height: 6%;
  background-color: black;
  border-radius: 20px;
  color:white;

}

.container
{
  padding-left: 0px;
}
.profile{
  padding-left: 300px;
}
